#content
  %h1 Black [Sheep in] a Box

  %p#teaser Black [sheep in a] Box is a one (schizophrenic) man band founded in Heidelberg, Germany in late 2011. The project is an attempt at combining the myriad personalities that the passing of time inevitably endows us with.

  %p The sounds you will hear, therefore, have been reconstructed piece by piece from the sometimes incongruous cacophony, sometimes harmonic polyphony of the voices from a deeply buried past. We continue, however, to investigate, with hopes that, once we have reached the beginning, we shall be able - if not to explain it all - to begin a movement forward, leaving for once and for all the ghostly images behind.

  :erb
    <iframe class='soundcloud-widget' width="100%" height="328" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1987741&amp;auto_play=false&amp;show_artwork=true&amp;color=626262"></iframe>

  %h2 About the Album
  %p While the Black Box EP is a gathering of heterogenous material from musical and personal "pasts",  it is also an attempt at recovering some of the old fashioned atmosphere of the music listening experience , specially during these times of "playlist" audiences who are in constant and overwhelming "shuffle mode". 
  
  %p Thus, the EP has been conceived as a conceptual unity (a unity of secuence, if not of style),  an episodic movement of stories, ideas and music that change texture and shape, like water on its journey to the ocean...

  %p It is therefore best to be enjoyed and understood as such - that is, as a voyage from beginning to end - in order to truly submerge (conceptually as well, as you will realize) in the music and the development throuought the songs.

  %p The album was published under a creative commons license and is available in its entirety to download for free. It is also, for better AND for worse 100 % DIY: All songs on the Black Box EP were produced, recorded, mixed and mastered in close self-collaboration at the places "we" have called home over the past year. 
  %p If you like what you hear - as well as the idea of making true independent DIY art possible -, you can also consider supporting the project by purchasing one of the 150 limited edition CD. That might actually help make the next recording a lot better quality ;)

#sidebar
  = link_to asset_path('music/black_box_ep_cover.jpg') do
    = image_tag 'music/black_box_ep_cover_small.jpg', :id => 'main-image'
  .buttons-wrapper
    = link_to 'Download EP', 'http://bit.ly/L14fTY', :class => 'm-button'
    .download-note
      (zipped MP3s, 73MB)
  .social-buttons-wrapper
    = link_to 'https://www.facebook.com/pages/Black-sheep-in-a-Box/227096270634367', :title => 'Facebook' do
      = image_tag 'facebook_icon.png'
    = link_to 'http://soundcloud.com/blacksheepedbox', :title => 'Soundcloud' do
      = image_tag 'soundcloud_icon.png'
    = link_to 'http://blacksheepinabox.bandcamp.com', :title => 'Bandcamp' do
      = image_tag 'bandcamp_icon.png'
    = link_to 'http://www.lastfm.de/music/Blacksheep+in+a+Box', :title => 'LastFM' do
      = image_tag 'lastfm_icon.png'
  %p The Contents of the box may include traces of the following personalities:
  %ul
    :erb
      <li><strong>B.B. Blacksheep:</strong> Guitar and Vox</li>
      <li><strong>Verminante:</strong> Strings and Vox</li>
      <li><strong>Ajevo Argen:</strong> Vox and Guitar</li>
      <li><strong>Private Hell:</strong> Lyrics and Whispers</li>
      <li><strong>Adiv al Ajar:</strong> Percussion</li>
      <li><strong>Davidian:</strong> Recording, Producing, Mixing</li>
      <li><strong>Vida la Raja:</strong> Daytime Support</li>
