!!!
%html
  %head
    %title Black Sheep
    %link{rel: 'shortcut icon', href: '/favicon.png'}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #background-container
    #page-container
      #header
        = link_to root_path, :id => 'logo' do
          = image_tag 'logo.png'
        %ul#navigation
          %li.navigation--item.first= link_to 'Music', music_pages_path
          %li.navigation--item.last= link_to 'Texts', texts_pages_path
      #content-container
        = yield
